 /* The sidebar menu */
 .sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 5px 15px 30px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Login */
.login{
    height:23px;
    width:100px;
}

h1{
  cursor: text;
}

.note{
  line-height: 5px;
  gap: 10px;
  cursor: text;
}

#username,
#password{
  border-radius: 20px;
  text-align: center;
  width: 200px;
  height: 50px;
  z-index: 2;
  position: fixed;
  opacity: 80%;
}

#username{
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#password{
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-button{
  border-radius: 20px;
  width: 200px;
  height: 80px;
  cursor: pointer;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  z-index: 2;
  opacity: 80%;
}

.window{
  border: 5px solid #000000;
  height: 300px;
  width: 250px;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background: #000000;
  background-size: 600px;
  backdrop-filter: blur(1px);
  -webkit-filter: blur(1px);
  background-position-x: 20%;
  background-position-y: 80%;
}

/* Cursor */

html{
  cursor: cell;
}